@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
  background-color: rgb(36, 36, 36);
  color: rgb(254, 255, 209);
  font-family: Poppins, sans-serif;
}